/* CSS (Inline, Internal, External)tag, id(#), and class(.), universal selector(*) */



/* p{
    color: darkorange;
}

#uni{
    color: aqua;
}

.color{
    color: darkgreen;
} */


/* Universal selector(*) */

/* *{
    color: darkgoldenrod;
} */


/* Group selector h1, p*/

/* h1,p{
    color: darkred;
} */


/* Decendent combinator  */

/* #out .in{
    color: cadetblue;
} */

/* Child combinator */

/* #out>.in{
    color: rgb(255, 0, 0);
} */

/* Pseudo selector */
/* p:hover{
    color: rgba(255, 0, 0, 0.5);
}

h6{
    color: #ff0000;
} */


/* CSS Background */

html{
    background: url(https://img.freepik.com/premium-photo/operating-room-surgeon-ai-generator-art-image_848845-124.jpg?w=2000);
    background-size: cover;
    background-repeat: no-repeat;
}
div{
    color: aliceblue;
}

p{
   border: 4px rgb(249, 213, 7) dotted;
   /* border-radius: 5%; */
   margin-top: 30px;
   margin-bottom: 30px;
   margin-left: 30px;
   margin-right: 30px;

   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 30px;
   padding-right: 30px;

   height: 50%;
   width: 50%;
   position:relative;
}
