/* CSS (Inline, Internal, External)tag, id(#), and class(.), universal selector(*) */



/* p{
    color: darkorange;
}

#uni{
    color: aqua;
}

.color{
    color: darkgreen;
} */


/* Universal selector(*) */

/* *{
    color: darkgoldenrod;
} */


/* Group selector h1, p*/

/* h1,p{
    color: darkred;
} */


/* Decendent combinator  */
#out .in{
    color: cadetblue;
}

/* Child combinator */

